
.head{
  background-color: #dc918d;
}

.circle-image {
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    width: 200px; /* Ancho deseado del área recortado */
    height: 200px; /* Alto deseado del área recortado */
    
  
  }
  .circle-image img {
    width: 100%; /* Ajusta el ancho de la imagen al ancho del contenedor */
    height: auto; /* Ajusta automáticamente la altura de la imagen para mantener la proporción */
    display: block; /* Evita el espacio adicional debajo de la imagen */
  }

  .row-exp{
    background-color: #f8f8f8;
  }


  .image-container img {
    bottom: 0;
    left: 0;
    transform: translateY(100%);
  }
  .bubble {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #0d6efd;
    border-radius: 50%;
    animation: bubbleAnimation 10s infinite;
  }
  
  .bubble.left {
    left: 15%; /* Ajusta la posición inicial de la burbuja izquierda */
    width: 70px;
    height: 70px;
    background-color: #dc918d;
    border-radius: 50%;
    animation: bubbleAnimation 5s ;
  }

  .bubble.right {
    right: 15%; /* Ajusta la posición inicial de la burbuja derecha */
    width: 70px;
    height: 70px;
    background-color: #dc918d;
    border-radius: 50%;
    transform: scaleX(-1); /* Voltea horizontalmente la burbuja derecha */
    animation: bubbleAnimation 5s ;
  }

  .bubble.lado1{
    left:5%;
    width: 30px;
    height: 30px;
    background-color: #0d6efd;
  }
  .bubble.lado2{
    right: 5%; /* Ajusta la posición inicial de la burbuja derecha */
    width: 30px;
    height: 30px;
    transform: scaleX(-1); /* Voltea horizontalmente la burbuja derecha */
  }
  .bubble.lado3{
    left:25%;
    width: 80px;
    height: 80px;
  }
  .bubble.lado4{
    right: 25%; /* Ajusta la posición inicial de la burbuja derecha */
    transform: scaleX(-1); /* Voltea horizontalmente la burbuja derecha */
    width: 80px;
    height: 80px;
    background-color: #0d6efd;
    border-radius: 50%;
  }

  @keyframes bubbleAnimation {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100vh);
      opacity: 0;
    }
  }
  